
     body {
        background-color: black;
      }

      h1, h2, h3 {
        color: yellow;
        font-size: 28px;
        text-align: center;
      }

      p {
        margin-left: 10%;
        margin-right: 10%;
        background-color: black;
        padding: 10px;
        border: 1px solid white; 
      }

      .cielo {
        color: skyblue;
        text-align: left;
      }

      .naranja {
        color: orange;
        text-align: center;
      }

      .rosa {
        color: pink;
        text-align: center;
      }

      .dorado {
        color: gold;
        text-align: left;
      }
     